<h1 class="center-text">{{action}} Contact</h1>
<div class="details-container">
    <div> 
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" ng-model="contact.name.first"> 
    </div>
    <div> 
        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" ng-model="contact.name.last"> 
    </div>
    <div> 
        <label for="mobileNumber">Mobile Number:</label>
        <input id="mobileNumber" type="number" ng-model="contact.phone.mobile" /> 
    </div>
    <div> 
        <label for="homeNumber">Home Number:</label>
        <input id="homeNumber" type="number" ng-model="contact.phone.home"> 
    </div>
    <div> 
        <label for="email">Email:</label>
        <input id="email" type="email" ng-model="contact.email"> 
    </div>
    <div> 
        <label for="street">Street:</label>
        <input id="street" type="text" ng-model="contact.address.street">
    </div>
    <div>
        <label for="city">City:</label>
        <input id="city" type="text" ng-model="contact.address.city">
    </div>
    <div>
        <label for="state">State:</label>
        <input id="state" type="text" ng-model="contact.address.state">
    </div>
    <div>
        <label for="zip">Zip:</label>
        <input id="zip" type="number" ng-model="contact.address.zip">
    </div>
<div class="buttons-container">
    <button ng-click="cancel()">Cancel</button> 
    <button ng-click="save()">Save</button> 
    <button ng-show="showDelete" ng-click="delete()">Delete</button>
</div>
</div>
