<h1 class="center-text">Contacts</span></h1>
    <div class="utility-bar">
        <input type="search" ng-model="search"  placeholder="Search for contact..">
        <a title="add" class="icon icon-plus" ng-href="#/create/"></a>
    </div>

    <div class="contacts-container">
        <div ng-repeat="contact in contacts | filter:search:fullName | orderBy: contact">
            <div class="contact-list-item">
                <span class="icon-user"></span>
                <a title="edit" 
                   class="contact-fullname" 
                   ng-href="#/edit/{{getFullName(contact)}}/{{contact._id}}">
                   {{contact.name.first}} {{contact.name.last}}
                </a>
                <a title="delete" 
                   class="icon icon-remove size-medium" 
                   ng-click="delete(contact)" 
                   ng-show="contact"
                   href="">
                </a>
            </div>
        <div>
   </div>
</div>
