
<h1 class="center-text short">Contacts</h1>
<div class="header">
  <a title="add" class="icon icon-plus" ng-href="#/create/"></a>
</div>

<div class="utility-bar">
    <div class="wrapper">
        <input type="search" ng-model="search" placeholder="Search for a contact...">
    </div>
</div>

<div class="contacts-container">
    <div class="animate-repeat" ng-repeat="contact in contacts | filter:search">
        <div class="contact-list-item">
            <span class="icon-user"></span>
            <a title="edit" 
               class="contact-fullname" 
               ng-href="#/edit/{{getFullName(contact)}}/{{contact._id}}">
               {{contact.name.first}} {{contact.name.last}}
            </a>
            <a title="delete" 
               class="icon icon-remove size-medium" 
               ng-click="delete(contact)" 
               ng-show="contact"
               href="">
            </a>
        </div>
    </div>
</div>
